<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
		http://www.springframework.org/schema/beans/spring-beans.xsd">
	<bean id="dataSource" class="org.springframework.jdbc.datasource.SimpleDriverDataSource">
		<property name="driverClass" value="com.mysql.jdbc.Driver" />
		<property name="url" value="jdbc:mysql://mytestspring.c6gl7dfpexir.ap-northeast-2.rds.amazonaws.com:3306/sys?useSSL=false" />
		<property name="username" value="mytestSpring" />
		<property name="password" value="mytestSpring" />
	</bean>
	
	<bean id="userDao" class="springbook.chapter6.UserDaoJdbc">
		<property name="dataSource" ref="dataSource"></property>
		<property name="sqlAdd" value="insert into dept values(?, ?, ?, ?, ?, ?)"></property>
<!-- 		<property name="jdbcContext" ref="jdbcContext"></property> -->
	</bean>
	<bean id="userLevelUpgradePolicy" class="springbook.chapter6.UserLevelUpgradePolicyOriginal">
		<property name="userDao" ref="userDao"></property>
	</bean>
	<bean id="userServiceImpl" class="springbook.chapter6.UserServiceImpl">
		<property name="userDao" ref="userDao"></property>
		<property name="userLevelUpgradePolicy" ref="userLevelUpgradePolicy"></property>
	</bean>
	
	<bean id="userService" class="springbook.chapter6.UserServiceTx">
		<property name="transactionManager" ref="transactionManager" />
		<property name="userService" ref="userServiceImpl" />
	</bean>

	<bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
	<property name="dataSource" ref="dataSource" />
	</bean>
	
<!-- 	<bean id="jdbcContext" class="springbook.dao.chapter3.JdbcContext"> -->
<!-- 		<property name="dataSource" ref="dataSource"></property> -->
<!-- 	</bean> -->
	
<!-- 	
	<bean id="connectionMaker" class="springbook.dao.DConnectionMaker"></bean>
	<bean id="userDao2" class="springbook.dao.UserDao2">
		<property name="connectionMaker" ref="connectionMaker"></property>
	</bean> 
-->
	<!-- Root Context: defines shared resources visible to all other web components -->
		
</beans>
